* {
    box-sizing: border-box;
}
#panel {
    margin: 25px auto;
    text-align: center;
}
.active {
    background-color: black;
}
canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}
