.container {
    text-align: center;
    width: 100%;
}

.lorem {
    font-weight: 600;
    font-size: large;
}

.info {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin-bottom: 25px;
}