<div class="container">

    <div class="info">
        INFORMATION
    </div>

    <div class="lorem">
        <p>Nam non lobortis mi, eget rhoncus tortor. Nunc in porttitor lorem. Integer lacinia efficitur lacus. Proin ac
            nisi
            purus. Vivamus tempus massa dolor, vel lacinia nisl viverra hendrerit. Donec sed justo convallis, molestie
            ligula
            sit amet, convallis enim. Phasellus elit est, porttitor vel erat ac, egestas mattis leo.</p>

        <p>Nulla sem odio, eleifend id aliquet sed, porttitor eget eros. Curabitur iaculis diam in libero sodales, sed
            hendrerit dui accumsan. Praesent maximus pellentesque ipsum, a viverra metus. Nulla sit amet semper libero,
            et
            vulputate massa. Curabitur vitae accumsan turpis. Fusce in suscipit libero. Quisque pretium tortor in felis
            sodales
            consectetur. Suspendisse potenti. In eget finibus purus.</p>

        <p>Morbi id ipsum ac lorem rhoncus aliquet. Nullam non nisi sapien. Aliquam viverra quam vitae dui euismod
            rutrum. Sed
            eget nisi tincidunt, fermentum est eu, venenatis tellus. Aenean ultricies risus nec libero auctor pharetra.
            Ut eu
            consequat ligula, et finibus augue. Duis nec lobortis ante, ut malesuada leo.</p>

        <p>Vivamus eu est tristique, pellentesque ipsum vel, fringilla urna. Nulla iaculis dui eu tellus eleifend, ut
            tristique
            ex ullamcorper. Praesent elementum eget nibh quis euismod. Pellentesque suscipit leo mollis felis malesuada
            dictum.
            Nullam ac sem quis felis suscipit accumsan in sed felis. Duis massa augue, condimentum sed finibus quis,
            congue sed
            erat. Aenean in sem vel nunc bibendum posuere at sit amet purus. Nunc imperdiet metus nec lectus viverra
            convallis.
            Aliquam molestie ullamcorper nisi sed venenatis. Proin tempus facilisis nunc, non porttitor neque
            ullamcorper vel.
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer commodo,
            mauris sed
            convallis auctor, dui orci pellentesque turpis, sed dignissim mi odio sit amet odio. Praesent efficitur,
            massa
            dictum volutpat malesuada, odio nunc rhoncus orci, id aliquet justo justo iaculis ex. Etiam finibus vel
            risus eget
            viverra.</p>
    </div>
    
</div>