.btn {
  height: 40px;
  margin-right: 10px;
  font-weight: 500;
}

.title {
  font-weight: bold;
  display: inline-block;
}

#id {
  margin-left: 15px;
}

#name {
  margin-left: 80px;
}

#sur {
  margin-left: 145px;
}

#num {
  margin-left: 220px;
}

#job {
  margin-left: 130px;
}

.table {
  margin-left: 15px;
}

.buttons {
  margin-top: -5px;
  margin-left: 10px;
  width: 100px;
}

.header {
  width: 100%;
  margin-left: 15px;
}

.field {
  display: inline-block;
  margin-right: 10px;
}

.main{
  margin-left: -15px;
}
